/* ;$Id: xspf_playlist_thumb.css,v 1.1.2.3 2008/07/04 21:23:47 nedjo Exp $ */


/* Adds some basic theming for picking the xspf playlist thumb output */

.xspf_playlist-container {
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
}

.xspf_playlist-thumb {
	float: left;
	margin: 3px;
	padding: 2px;
	border: 1px solid #cccccc;
	height: 100px;
	width: 100px;
}

.xspf_playlist-thumb img {
  width: 98px;
  height: 98px;
}

/* set the picked class */
.xspf_playlist-thumb.picked {
  border: 1px solid red;
}

/* display file */
.xspf_playlist-selected {
  clear: left;
  font-weight: bold;
}

.xspf_playlist-container br {
	clear: both;
}
